.sidebar {
    margin: 0;
    padding: 0;
    width: 260px;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    color: #000000;
    background-color: #1875F0;
    opacity: 0.1;
    
   
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #f1f1f1;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  .sidebarbutton{
   -webkit-box-shadow: none!important;
   box-shadow: none !important;
   width: 163px;
   height: 33px;
   margin-left: 32px;
   margin-bottom: 32px;
   margin-top: 93px;
   background-color: #27AE60;
   border-radius: 30px;
   border:none;
   text-shadow: none;
   color: #FFFFFF;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }


  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }